html, body {
    cursor: none;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background: #F6F8F9;
    color: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'sans serif';
    overflow: hidden;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.switcharoo {
    height: 100%;
    transition: opacity .4s ease-in-out;
    position: relative;
}

.switcharoo--hidden {
    opacity: 0;
}

.slides {
    height: 100%;
}

.slide {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 100px;
    position: relative;
    width: 100%;
}

.slide__title {
    color: white;
    font-size: 6rem;
    margin: 0 0 10px 0;
    text-align: center;
    text-transform: uppercase;
}

.slide__body {
    font-size: 4.5em;
    padding: 0 100px;
    font-weight: 100;
    text-align: center;
}

.slide__image {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.slide__video {
    height: 100%;
    width: 100%;
}

.slide--video {
    padding: 0;
}

.slide--image {
    padding: 0;
}

.program {
    height: 100%;
}

.program__header {
    color: #ffffff;
    font-size: 6rem;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
    padding-top: 0.67em;
}

.program__program {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.entry {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.entry:nth-child(odd) {
    padding: 0 20px 30px 40px;
}

.entry:nth-child(even) {
    padding: 0 40px 30px 20px;
}

.entry__room {
    color: #ffffff;
    font-size: 7rem;
    font-weight: 100;
    margin: -16px 40px 0 0;
}

.entry__title {
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: 100;
    margin-bottom: 5px;

    /*truncate to max N*/
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.entry__speakers {
    color: #ffffff;
    font-size: 1.5rem;
}

.entry__info {
    display: flex;
    flex-direction: column;
}

.tweets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    height: 100%;
    padding: 150px 50px 200px 50px;
    justify-content: center;
}

.tweet {
    justify-content: flex-start;
    flex: 1 0 50%;
    padding: 0 20px 70px 20px;
}

.tweet__info {
    display: flex;
    flex-direction: horizontal;
}

.tweet__img {
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    height: 120px;
    margin: 10px 40px 0 0;
    width: 120px;
}

.tweet__user {
    margin-bottom: 10px;
}

.tweet__name {
    color: white;
    font-size: 3rem;
    font-weight: 400;
    margin-top: 10px;
}

.tweet__handle {
    color: rgba(255, 255, 255, .7);
    font-size: 2.7rem;
    font-weight: 100;
}

.tweet__body {
    font-size: 2.75rem;
    font-weight: 100;
}

.tweet__at,
.tweet__hash {
    color: #F25D5B;
}

.switcharoo__overlay {
    animation: fade-in .4s ease-in-out;
    position: fixed;
    transition: opacity .2s ease-in-out;
    z-index: 10;
}

.switcharoo__overlay.top-left {
    left: 0;
    top: 0;
}

.switcharoo__overlay.top-right {
    top: 0;
    right: 0;
}

.switcharoo__overlay.bottom-left {
    bottom: 0;
    left: 0;
}

.switcharoo__overlay.bottom-right {
    bottom: 0;
    right: 0;
}

.switcharoo__overlay--hidden {
    opacity: 0;
}

.conferences {
    align-items: center;
    cursor: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.conferences__logo {
    margin: 50px 0 30px;
    width: 200px;
}

.conferences__title {
    font-size: 1.5rem;
    font-weight: 200;
}

.conferences__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.conferences__link {
    color: black;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
