.info {
	display: table-cell;
	vertical-align: middle;
}

.info .slide-padding {
	position: relative;
	top: -50px;
}

.info h1 {
	margin-top: 0;
}

.info .body {
	color: white;
	font-size: 4em;
	opacity: 0;
	text-align: center;
}

.info .image {
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
	opacity: 0;
	width: 100%;
}