.info {
	display: table-cell;
	top: -100px;
	vertical-align: middle;
	position: relative;
}

.info .body {
	color: white;
	font-size: 4em;
	opacity: 0;
	text-align: center;
}

.info .image {
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
	opacity: 0;
	width: 100%;
}