h1 {
	opacity: 1 !important;
}

ul {
	list-style: none;
	color: white;
	margin: 0;
	padding: 0;
	opacity: 1;
}

li {
	float: left;
	margin-bottom: 60px;
	width: 50%;
}

li:nth-child(odd) {
	width: 40%;
	margin-right: 10%;
}

.room {
	color: white;
	font-size: 3em;
	width: 80px;
	height: 80px;
	line-height: 78px;
	background: #149089;
	float: left;
	text-align: center;
	border-radius: 100%;
}

.title {
	font-size: 2em;
	margin-left: 100px;
}

.speakers {
	font-size: 1.2em;
	margin-left: 100px;
}