.program ul {
	list-style: none;
	color: white;
	margin: 0;
	padding: 0;
	opacity: 0;
}

.program li {
	float: left;
	margin-bottom: 50px;
	min-height: 104px;
	width: 50%;
}

.program li:nth-child(odd) {
	width: 40%;
	margin-right: 10%;
}

.program .room {
	color: white;
	font-size: 3em;
	width: 80px;
	height: 80px;
	line-height: 78px;
	background: #149089;
	float: left;
	text-align: center;
	border-radius: 100%;
}

.program .title {
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	font-size: 2em;
	margin-left: 100px;
	overflow: hidden;
}

.program .speakers {
	font-size: 1.2em;
	margin-left: 100px;
}