html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background: #101010;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, 'sans serif';
	overflow: hidden;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.progress {
	-webkit-transform: translateZ(0);
	background: #FCAF17;
	left: 0;
	height: 3px;
	position: absolute;
	top: 0;
	width: 0;
	z-index: 100;
}

.container h1 {
	color: white;
	font-weight: normal;
	text-align: center;
}

.container {
	height: 100%;
	position: relative;
	width: 100%;
}

.slide {
	float: left;
	height: 100%;
	padding: 0 100px;
	width: 100%;
}

.slide h1 {
	color: #9E0032;
	font-size: 5em;
	opacity: 0;
}