.twitter {
	color: white;
}

.twitter ul {
	list-style: none;
}

.twitter li {
	margin-bottom: 26px;
	opacity: 0;
}

.twitter .image {
	border-radius: 100%;
	float: left;
	height: 100px;
	width: 100px;
}

.twitter .tweet {
	margin-left: 120px;
}

.twitter .user {
	color: #9E0032;
	font-size: 1.5em;
}

.twitter .message {
	color: white;
	font-size: 2em;
}