<div class="slide">
    <div class="visible visible-{{visible}}"></div>
    <div class="slide-info">
        <div class="title">{{title}}</div>
        <div class="body">{{body}}</div>
        <div class="index">Index: {{index}}</div>
        <div class="actions">
            <button class="btn action action-edit">Edit</button>
            <button class="btn action action-delete">Delete</button>
        </div>
    </div>
</div>