<div class="slide-edit-form">
    <form>
        <label class="text-input"><span>Tittel</span><input type="text" name="title" value="{{title}}" placeholder="Title" /></label>
        <label class="text-input"><span>Indeks</span><input type="text" name="index" value="{{index}}" class="index" /></span></label>
        <label><span>Tekst</span><textarea name="body" placeholder="Tekst">{{body}}</textarea></label>
        <input type="submit" class="btn save" value="save" />
    </form>

    <button class="close">X</button>
</div>