.modal {
    cursor: auto;
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: opacity .4s ease-in-out;
    width: 100%;
    z-index: 2;
}

.modal--visible {
    opacity: 1;
    pointer-events: auto;
}

.modal__backdrop {
    align-items: center;
    background: rgba(0, 0, 0, .75);
    display: flex;
    justify-content: center;
    height: 100%;
}

.modal__wrapper {
    background: #eee;
    border-radius: 2px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    color: #111;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
}

.modal__header {
    background: #ddd;
    padding: 24px 34px;;
}

.modal__content {
    flex-grow: 1;
}

.modal__slide {
    padding: 24px 34px;
}

.modal__index,
.modal__title,
.modal__body {
    display: block;
    margin-top: 10px;
}

.modal__color {
    list-style: none;
    margin-top: 10px;
    padding: 0;
}

.modal__color-item {
    display: inline-block;
    padding: 5px;
}

.modal__color-item:first-child {
    padding-left: 0;
}

.modal__footer {
    display: flex;
    justify-content: flex-end;
    padding: 24px 34px;
}

.modal__save {
    margin-left: 20px;
}

.modal__save[disabled] {
    opacity: .5;
}

.color-button {
    border: 1px solid transparent;
    height: 30px;
    outline: 0;
    width: 30px;
}

.color-button--selected {
    border-color: black;
}

.input {
    background: #fff;
    border: 0;
    border-radius: 2px;
    min-height: 32px;
    padding: 10px;
    width: 100%;
}

.input--box {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 1rem;
    outline: 0;
    padding: 5px;
    transition: border-bottom-color .4s;
}

.input--box:focus {
    border-bottom-color: #53bad1;
}

.tabs {
    background: #ddd;
    border-bottom: 1px solid #aaa;
    padding: 0 14px;
}

.tabs__tab {
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;
    top: 1px;
    outline: none;
}

.tabs__tab {
    background: transparent;
    border-bottom: 1px solid transparent;
    color: black;
    font-weight: 500;
    padding: 10px 20px;
}

.tabs__tab--active {
    background: #eee;
    border: 1px solid #aaa;
    border-bottom-color: #eee;
}

.settings {
}

.settings__section {
    margin-bottom: 50px;
}

.service-list__service {
    display: inline-block;
    margin: 0 20px;
}

.service-list__service:first-child {
    margin-left: 0;
}

.service-list__toggle {
    background: rgba(0, 0, 0, .5);
    border: 0;
    color: white;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 100;
    height: 42px;
    outline: none;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: background .2s ease-in-out;
}

.service-list__toggle--enabled {
    background: #0078c9;
}

.service-list__icon {
    margin-right: 10px;
}

.service-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.login {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.login__button {
    padding: 10px 20px;
}
