@background: #111;
@size: 65px;

@black: #222222;

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app__sidebar {
}

.app__topbar {
    background: @black;
    color: #eee;
    display: flex;
    font-size: 1.5rem;
    font-weight: 100;
    height: @size;
    line-height: @size;
    padding-right: 20px;
}

.topbar {
    &__logo {
        background: @black;
        color: white;
        font-size: 1.7rem;
        font-weight: 100;
        text-align: center;
        width: @size;
    }
}

.app__topbar-title {
}

.app__topbar-clients {
    flex-grow: 1;
    text-align: right;
}

.app__main {
    flex-grow: 1;
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
}

.app__message-area {
    left: 50%;
    bottom: 20px;
    position: absolute;
}

.app__content {
    flex-grow: 1;
    height: 100%;
    overflow-y: scroll;
}

.app__page-content {
    height: 100%;
}
