.box {
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    border-radius: 3px;
    color: #111;
    margin: 30px;
    padding: 10px;
}

.box__title {
    color: #555;
    font-size: 1rem;
    margin: 15px 0 5px 15px;
    text-transform: uppercase;
}

.box__content {
    margin: 20px 15px;
}
