.button {
    background: #58667F;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    outline: 0;
    padding: 0 16px;
    text-transform: uppercase;
    transition: box-shadow .2s;

    .material-icons {
        font-size: 1rem;
    }
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.button:not([disabled]) {
    cursor: pointer;
}

.button--cancel {
    background: #ddd;
}
