<div class="slide-padding">
    <h1>#JavaZone</h1>
    <ul>
    {{#each media}}
        <li>
            <div class="images">
                <img class="first" src="{{first}}" />
                <img class="second" src="{{second}}" />
            </div>
        </li>
    {{/each}}
    </ul>
</div>