*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	padding-bottom: 50px;
}

h1 {
	text-align: center;
}

.btn {
	background: #00887E;
	color: white;
	cursor: pointer;
	border: 0;
	padding: 10px 20px;
	text-transform: uppercase;
}

.container {
	margin: 0 auto;
	width: 600px;
}

.container:after {
	content:"";
	display:table;
	clear:both;
}

.slides {
	margin-top: 60px;
}

.slides ol {
	counter-reset: li;
	list-style: none;
	margin: 0;
	padding: 0;
}

.slides li {
	border-bottom: 1px solid #E4E3E1;
	margin-top: 20px;
	min-height: 80px;
	position: relative;
}

.slides li:hover {
	background: #eee;
}

.slides .title {
}

.slides .body {
	color: #999;
}

.slides .visible:before {
	content: counter(li);
	counter-increment: li;
}

.slides .visible {
	color: white;
	cursor: pointer;
	left: -80px;
	line-height: 60px;
	position: absolute;
	text-align: center;
	top: 5px;
	width: 60px;
}

.slides .visible-true {
	background: #00887E;	
}

.slides .visible-false {
	background: #999;
}

.slides .action {
	cursor: pointer;
	display: none;
	height: 30px;
	position: absolute;
	right: 0;
	width: 30px;
}

.slides li:hover .action {
	display: block;
}

.slides .action-edit {
	background: #00887E;
	top: 0;
}

.slides .action-delete {
	background: #911D33;
	top: 30px;
}

.slide-edit {
	background: rgba(0, 0, 0, .8);
	display: none;
	left: 0;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
}

.slide-edit:not(:empty) {
	display: block;
}

.slide-edit-form {
	background: whitesmoke;
	margin: 0 auto;
	margin-top: 200px;
	padding: 20px;
	position: relative;
	width: 500px;
}

.slide-edit-form:after {
	content:"";
	display:table;
	clear:both;
}

.slide-edit-form input, .slide-edit-form textarea {
	font-size: 16px;
}

.slide-edit-form textarea {
	height: 100px;
	max-width: 100%;
	width: 100%;
}

.slide-edit-form input[type="text"], .slide-edit-form textarea {
	background: transparent;
	border: 0;
	border-bottom: 2px solid black;
	display: block;
	margin-bottom: 50px;
	padding: 10px 0;
}

.slide-edit-form .save {
	display: block;
	float: right;
}

.slide-edit-form .close {
	background: black;
	border: 0;
	color: white;
	position: absolute;
	right: 5px;
	top: 5px;
}

.slide-new {
	float: right;
	margin-top: 40px;
}