*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	padding-bottom: 50px;
}

h1 {
	text-align: center;
}

.btn {
	background: #00887E;
	color: white;
	cursor: pointer;
	border: 0;
	padding: 10px 20px;
	text-transform: uppercase;
}

.container {
	margin: 0 auto;
	width: 960px;
}

.container:after {
	content:"";
	display:table;
	clear:both;
}

.slides {
	margin-top: 60px;
}

.slides ol {
	counter-reset: li;
	display: inline-block;
	list-style: none;
	padding: 0;
	width: 100%;
}

.slides li {
	margin-bottom: 20px;
	min-height: 80px;
	position: relative;
	width: 100%;
}

.slide {
	position: relative;
}

.slide:hover .slide-info{
	background: #eee;
}

.slide:after {
	content: "";
	display: table;
	clear: both;
}

.slide .title {
}

.slide .body, .slide .index {
	color: #999;
}

.slide .visible:before {
	content: counter(li);
	counter-increment: li;
}

.slide .visible {
	color: white;
	cursor: pointer;
	float: left;
	line-height: 60px;
	position: relative;
	text-align: center;
	top: 2px;
	width: 60px;
}

.slide .visible-true {
	background: #00887E;	
}

.slide .visible-false {
	background: #999;
}

.slide-info {
	border-bottom: 1px solid #E4E3E1;
	margin-left: 80px;
	min-height: 80px;
	position: relative;
}

.slide .actions {
	right: 0;
	position: absolute;
	top: 50%;
	margin-top: -19px;
}

.slide .action {
	color: white;
	cursor: pointer;
	display: none;
	padding: 10px;
	top: 20px;
	xwidth: 40px;
}

.slide:hover .action {
	display: inline-block;
}

.slide .action-edit {
	background: #00887E;
	right: 70px;
}

.slide .action-delete {
	background: #911D33;
	right: 20px;
}

.slide-edit {
	background: rgba(0, 0, 0, .8);
	display: none;
	left: 0;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
}

.slide-edit:not(:empty) {
	display: block;
}

.slide-edit-form {
	background: whitesmoke;
	margin: 0 auto;
	margin-top: 200px;
	padding: 20px;
	position: relative;
	width: 500px;
}

.slide-edit-form:after {
	content:"";
	display:table;
	clear:both;
}

.slide-edit-form input[type=text], .slide-edit-form textarea {
	font-size: 16px;
}

.slide-edit-form textarea {
	height: 100px;
	max-width: 100%;
	width: 100%;
}

.slide-edit-form input[type="text"], .slide-edit-form textarea {
	background: transparent;
	border: 0;
	border-bottom: 2px solid black;
	display: block;
	margin-bottom: 50px;
	padding: 10px 0;
}

label {
	color: #777;
}

.text-input {
	display: inline-block;
	width: 49%;
}

label a {
	display: block;	
}

.slide-edit-form .save {
	display: block;
	float: right;
}

.slide-edit-form .close {
	background: black;
	border: 0;
	color: white;
	position: absolute;
	right: 5px;
	top: 5px;
}

.text-slide, .image-slide {
	float: right;
	margin-top: 40px;
}

.text-slide:before, .image-slide:before {
	content: "+";
	display: inline-block;
	position: relative;
	left: -10px;
}